[submodule "mini-projet-cyber-surveillance"]
	path = mini-projet-cyber-surveillance
	url = https://github.com/nk2442/mini-projet-cyber-surveillance.git
[submodule "mini-projet-bruteforce"]
	path = mini-projet-bruteforce
	url = https://github.com/nk2442/mini-projet-bruteforce.git
